
<!-- # “This is a course requirement for CS 192 Software Engineering II
# under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the
# Department of Computer Science, College of Engineering,
# University of the Philippines, Diliman for the AY 2015-2016”.

# Julian Troy C. Valdez

#  Code History:
# Initial Code Authored by: Julian Troy C. Valdez
#
#  File Creation Date: (Sprint 2) 2/17/2018 to 2/18/2018
#      Development Group: Group 1
#      Client Group: CS 192 Class
#      Purpose of File: Temporary html view for the FoodStore list page -->


<h1> Food Stores </h1>

<table>
  <thead>
    <tr>
      <th>Food Store name</th>
      <th>Food Store location</th>
      <th>Food Store cuisineType</th>
    </tr>
  </thead>
  <tbody>
    <% @foodstores.each do |foodstore| %>
    <tr>
      <td><%= foodstore.name %></td>
      <td><%= foodstore.location %></td>
      <td><%= foodstore.cuisineType %></td>

      <!-- <td><%= link_to 'New rating', '/user/new' %></td> -->
      <td><%= link_to 'New rating', {:controller => "user", :action => "new", :foodstoreid => foodstore.id }%></td>
      <!-- <td><a href="/user/new">New rating</a></td> an HTML alternative -->

      <!-- <td><%= link_to 'View Ratings', '/user' %></td> -->
      <td><%= link_to 'View ratings', {:controller => "user", :action => "index", :foodstoreid => foodstore.id }%></td>
    </tr>
    <% end %>

  </tbody>

</table>
